@use 'gerillass' as *;
@use '../config' as *;

.site-header {
  position: relative;
  z-index: 100;
  width: 100%;
  padding: 2rem 0 1rem;
  section {
    position: relative;
    z-index: 10;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include adaptive();
    .site-logo {
      flex: 1 0 0;
      a {
        display: block;
        width: 160px;
        height: 160px;
        .logo-icon {
          width: 100%;
          height: 100%;
          max-width: 300px;
        }
      }
    }
    .nav-menu {
      flex: 2 0 0;
      nav {
        position: absolute;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 1rem;
        width: 100%;
        z-index: 100;
        a {
          text-align: left;
          span {
            font-family: $alumni;
            vertical-align: 0.069em;
            font-weight: 500;
          }
        }
      }
    }
    @include breakpoint(min, medium) {
      .site-logo {
        flex: 3 0 33%;
        a {
          width: 250px;
          height: 250px;
        }
      }
      .nav-menu {
        flex: 6 0 66%;
        nav {
          position: relative;
          display: flex;
          visibility: visible;
          flex-direction: row;
          justify-content: space-between;
          background: transparent;
          a {
            text-align: center;
          }
        }
      }
    }
    @include breakpoint(min, xlarge) {
      .site-logo {
        a {
          width: 300px;
          height: 300px;
        }
      }
    }
  }
}