@use 'gerillass' as *;
@use '../config' as *;

html {
  font-family: $saira;
  font-size: 22px;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 100vh;
  background: var(--c-background);
  color: var(--c-body);
}

.left-column {
  flex: 3 0 0;
}
.right-column {
  flex: 9 0 0;
}

main {
  @include adaptive();
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex: 1;
}

