@use 'gerillass' as *;
@use '../config' as *;
@use '../functions' as *;

html {
  font-family: $text-font;
  font-size: 22px;
  line-height: $text-line;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 100vh;
  background: var(--c-background);
  color: var(--c-body);
}

.left-column {
  flex: 3 0 0;
}
.right-column {
  flex: 9 0 0;
}

main {
  @include adaptive();
  margin-top: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  flex: 1;
  @include breakpoint(min, medium) {
    margin-top: 8.2rem;
  }
}

.page-content,
.post-content,
.product-content {
  width: 100%;
  margin: 10rem auto 0;
  @include breakpoint(min, medium) {
    width: 66%;
    margin-top: 0.5rem;
    margin-right: 0;
    margin-left: auto;
  }
  p {
    padding: 0 0.5rem;
  }
}
