@use 'gerillass' as *;
@use '../config' as *;

$map-for-breakpoints: (
  'small': '768px',
  'medium': '960px',
  'large': '1280px',
  'xlarge': '1440px',
  'desktop': '1600px',
  'full': '1780px'
);

html {
  font-family: $saira;
  font-size: 22px;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 100vh;
}

header {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 33vh;
  padding: 2rem 0 1rem;
  // background-color: #fff;
  // background-image: url('../../public/images/placeholder.jpg');
  // background-size: cover;
  // background-position: center;
  // background-blend-mode: hard-light;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    width: 103%;
    height: 35vh;
    top: 0;
    left: 0;
    z-index: 2;
    // background-image: url('../../public/images/placeholder.jpg');
    // background-size: cover;
    // mix-blend-mode: plus-lighter;
    opacity: 0.85;
    filter: blur(6px);
  }
  section {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    @include adaptive();
    .site-logo {
      flex: 3 0 0;
    }
    .site-nav {
      flex: 6 0 0;
    }
  }
}

main {
  @include adaptive();
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex: 1;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem 4rem;
  background: #999;
}

.loading {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  text-align: center;
  background: #fff;
}

.load-motion {
  will-change: transform;
  animation: rotate 1.618s ease;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  33% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}