@use 'gerillass' as *;

// Breakpoint map config for Gerillass
$map-for-breakpoints: (
  'small': '768px',
  'medium': '960px',
  'large': '1280px',
  'xlarge': '1440px',
  'desktop': '1600px',
  'full': '1780px'
);

@forward 'lib/tailwind';
@forward 'functions';

@forward 'theme';

@forward 'components/typography';
@forward 'components/layout';
@forward 'components/media';
@forward 'components/buttons';
@forward 'components/header';
@forward 'components/footer';
@forward 'components/nav';
@forward 'components/loading';
@forward 'components/cart';

@forward 'lib/wp';
